<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  {% block head %}{% endblock %}
</head>

<body>
  <!-- put nav bar here  -->
  <ul class="nav_bar_ul">
    <li class="nav_bar_li"><a href="/locations">Locations </a></li>
    <li class="nav_bar_li"><a href="/profile"> Profile</a></li>
    {% if session.get('user_email') == None %}
    <li class="nav_bar_li"><a href="/login"> Log In</a></li>
    {% else %}

    <li class="nav_bar_li"><a href="/logout">Log Out</a></li>
    {% endif %}
    <li class="nav_bar_li"><a href="/"> Home </a></li>
  </ul>
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}


  {% block body %}{% endblock %}

  {% block after_body %}{% endblock %}
  <script src="/static/js/capstone.js"></script>
</body>

</html>