{% extends 'base.html' %}
{% block title %}Display Locations{% endblock %}

{% block body %}
<h1>Locations</h1>
{% for location in locations["businesses"] %}
<div class="location_cards">
<ol>
    <img src= {{location.image_url}} class="location_image">
    <br>
    Name : {{location.name}}
    <br>
    Address: {{location.location["display_address"]}}
    <br>
    Url: {{location.url}}
    <br>
    Phone Number: {{location.display_phone}}
    <br>
    Rating: {{location.rating}}
    <br>
    Review Count: {{location.review_count}}
    <br>
    <button class="favlocation" id="{{location.id}}"
    data-name = "{{location.name}}" 
    data-address = "{{location.location['display_address']}}"
    data-city = "{{location.location['city']}}"
    data-zip_code = "{{location.location['zip_code']}}"
    data-country = "{{location.location['country']}}"
    data-state = "{{location.location['state']}}"
    data-url = "{{location.url}}"
    data-display_phone = "{{location.display_phone}}"
    data-img_url = "{{location.image_url}}"
    data-rating = "{{location.rating}}"
    data-review = "{{location.review_count}}"> Click here to save!</button> 
</ol>
</div>
{% endfor %}

{% endblock %}