{% extends 'base.html' %}
<html lang="en">

{% block head %}
<title>New Friends!</title>
{% endblock %}



{% block body %}
<div class="welcome_msg">
  <h1>Welcome to Bestination!</h1>

  <h3> <b>Your Next Destination Awaits!</b> </h3>
  
  <p>Are you on vacation? In need of a fun activity to do over the weekend? Look no further - Bestination is here to
    assist you in finding your best destination!
    <br>
    <br>
    With Bestination, users can save locations they find and communicate with other users who are also interested in that location!
  </p>
  <p> Please create an account and proceed to the locations tab to find your next destination!</p>
  <div class="create_account">
    <a href="/account"> Create an Account! </a>
  </div>
</div>
{% endblock %}

</html>