{% extends 'base.html' %}
<html lang="en">

{% block head %}
  <title>New Friends!</title>
{% endblock %}



{% block body %}
<h1>Welcome!</h1>

<h2> Navigation </h2>
<ul>
    <li><a href="/locations">View all locations</a></li>
    <li><a href="/users">View all users</a></li>
</ul>

<a href="/profile"> Profile </a>


<h2><a href="/account"> Create an Account! </a></h2>


<h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email: <input type="text" name="email">
    </p>

    <p>
      Password: <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}

</html>