{% extends 'base.html' %}
{% block title %}Locations{% endblock %}

{% block body %}
  <h1>Locations</h1>
  <p>What type of activities would you be interested in today? 
     Please submit a keyword below.</p>
  <form action="/displaylocations">
  <br>
  <label for="keywords"> Search(Keyword):</label>
  <br>
  <input type="text" id="keywords" name="keywords">
  <br>
  <label for="location"> Location: </label>
  <br>
  <input type="text" id="location" name="location">
  <br>
  <label for="radius"> Radius: (Radius cannot exceed 25 miles) </label>
  <br>
  <input type="text" id="radius" name="radius">
  <br>
  <label for="unit" > Unit: </label>
  <br>
  <input type="radio" id="miles" name="unit" value="Miles">
  <label for="miles" > Miles </label>
  <br>
  <input type="radio" id="kilometers" name="unit" value="Kilometers">
  <label for="miles" > Kilometers </label>
  <p>
    <input type="submit" value="Submit">
    <input type="reset" value ="Reset">
  </p>
</form>


  
{% endblock %}