{% extends 'base.html' %}

{% block title %}{{ user.display_name }}'s Profile Page{% endblock %}

{% block body %}
<h1>{{user.display_name}}'s Profile Page</h1>
<img src="{{user.profile_pic_url}}">
<ul>

 <label for="about_me">About Me:</label>
 <br>
 <textarea id="about_me" name="about_me" rows="10" cols="50">{{user.about_me}} {{user.birthday}}</textarea>
 <br>
 <label for="hobbies">Hobbies:</label>
 <br>
 <textarea id="hobbies" name="hobbies" rows="10" cols="50" >{{user.hobbies}}</textarea>
 
</ul
{% endblock %}
