{% extends 'base.html' %}

{% block title %} {{user.display_name}}'s Profile! {% endblock %}

{% block body %}
<h2> {{user.display_name}}'s Profile Page!</h2>
<div class="profile_pic">
    <img src="{{user.profile_pic_url}}">
</div>
<div class="profile_info">
    <br>
    About Me:
    <br>
    <br>
    {{user.about_me}}
    <br>
    <br>
    Hobbies:
    <br>
    <br>
    {{user.hobbies}}
    <br>
</div>
<div class="private_msg" id="private_msg" name="private_msg">
    <a href="/private_msg"> Private Message</a>
</div>
{% endblock %}